/* Font style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap");
/* font style end */
body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}
/* fast section start */
#top-itams {
  margin-left: 180px;
  margin-top: 80px;
}
.influencer {
  display: flex;
  margin-left: 180px;
}
.influencer-items h1 {
  font-size: 50px;
}
.influencer-items {
  width: 30%;
  margin-top: 70px;
}
.another-page {
  background-color: #e02c6d;
  text-decoration: none;
  padding: 15px;
  color: aliceblue;
  border-radius: 50px;
  display: block;
  margin-top: 70px;
  width: 220px;
  text-align: center;
  font-size: 33px;
}
.another-page img {
  color: white;
}
.influencer-gear {
  margin-left: 350px;
  margin-top: 30px;
}
/* Animation start */
.influencer-gear img {
  transition: transform 2s ease-in-out;
}
.influencer-gear img:hover {
  transform: rotate(360deg);
}
/* Animation end */

/* fast section end */

/* second section start */
#midale-items {
  text-align: center;
  margin-top: 60px;
  font-size: 45px;
}
.influencer-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 10px;
  justify-items: center;
}
.gear {
  background-color: RGB(255, 255, 255);
  width: 360px;
  height: 520px;
  padding: 5px;
  border-radius: 10px;
}
.influencer-collection .gear img {
  margin-top: 25px;
  margin-left: 29px;
}
.fa-star.star {
  color: #ffc014;
}
.gear-details {
  margin-top: 25px;
  margin-left: 29px;
  width: 150px;
}
#see-detail {
  color: #e02c6d;
  font-size: 30px;
  margin-left: 201px;
}
#see-detail img {
  margin-left: 1px;
}
/* second secation end */
/* third section start */
.influencer-office {
  display: flex;
}
.apartments {
  margin-top: 150px;
  margin-left: 200px;
}
.apartments img {
  border-radius: 20px;
}
.office-detail {
  width: 1000px;
  margin-top: 150px;
  margin-right: 240px;
  margin-left: 140px;
}
.office-detail h1 {
  font-size: 50px;
}
.office-detail p {
  font-size: 20px;
}
/* Footer start  */
.last-part {
  background-color: #0a0826;
  color: #f2f2f2;
  text-align: center;
  height: 200px;
}
.fab {
  font-size: 30px;
  padding: 10px;
}
.fa-facebook {
  color: #0676e8;
}
.fa-instagram-square {
  color: #f77737;
}
.fa-twitter {
  color: #1d9bf0;
}
.fa-youtube {
  color: red;
}
/* Media Queries */
/* Mobile Device */
@media only screen and (max-width: 688px) {
  #top-itams {
    margin: 0px;
  }
  .influencer {
    grid-template-rows: repeat(1, 1fr);
    margin: 0px;
    display: inline;
  }
  .influencer-items {
    width: 380px;
    height: 400px;
  }
  .influencer-gear img {
    margin: 0px 0px 0px -380px;
  }
  #midale-items {
    margin: 0px 0px 0px 0px;
  }
  .influencer-collection {
    display: inline;
    grid-template-rows: repeat(1, 1fr);
    margin: 0px;
  }
  .gear {
    margin-top: 30px;
  }
  .influencer-office {
    grid-template-rows: repeat(1, 1fr);
    margin: 0px;
    display: inline;
  }
  .influencer-office img {
    margin: 0px 0px 0px -200px;
    width: 370px;
  }
  .office-detail {
    width: 350px;
    margin: 0px 0px 0px 10px;
  }
  .most-ero {
    width: 230px;
    height: 40px;
  }
  .most-ero img {
    margin: 0px;
    width: 50px;
    height: 30px;
  }
  .last-part {
    width: 375px;
  }
}
/* Media Queries */
/* Tablet Device */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  #top-itams {
    margin: 0px 0px 0px 30px;
  }
  .influencer {
    margin: 0px;
  }
  #midale-items {
    margin: 20px 0px 20px 250px;
  }
  .influencer-gear {
    margin: 100px 0px 0px 60px;
  }
  .influencer-collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 125px 55px 0px 0px;
  }
  .office-detail {
    margin: 0px;
    width: 600px;
  }
  .influencer-office {
    display: inline;
  }
  .apartments img {
    margin: 0px 0px 0px -110px;
  }
  .last-part {
    width: 805px;
  }
}
